main{
  display: grid;
  grid-template-areas: 
    "sidebar page"
  ;
  grid-template-rows: 1fr;
  grid-template-columns: 200px 1fr;
}

main > aside {
  position: relative;
  /* z-index: 10; */
  grid-area: sidebar;
}

.page{
  position: relative;
  /* z-index: 5; */
  grid-area: page;
}

