.container > header{
  padding: 1rem;
  background-color: var(--light-purple);
}

.container .title{
  margin: 0;
} 

  
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

li{
  list-style: none;
  border-bottom: 1px solid var(--light-purple);
} 

.link{
  display: block;
  width: 100%;
  padding: 0.5rem;
  text-decoration: none;
  width: 100%;
  background-color: var(--lighter-green);
}

.excerpt{
  padding: 2rem;
}