.popover-title{
  margin: 0;
}

.dialog-body{
  padding: 1rem;
  font-size: 1.2rem;
}

.dialog-body form{
  display: flex;
  flex-flow: column;
}

.dialog-body input{
  padding: .5rem .5rem;
  border: 1px solid var(--light-purple);
  min-width: 300px;
  border-radius: 3px;
}
