.sidebar{
  height: 100vh;
  width: 200px;
  display: flex;
  flex-flow: column;
  position: relative;
  z-index: 10;
  background-color: var(--light-purple);
}


.sidebar-header{
  flex-basis: var(--header-height);
  height: var(--header-height);
  border-bottom: 3px solid var(--dark-purple);
  box-shadow: -15px 0px 20px -10px black;
  position: relative;
  z-index: 2;
}

.sidebar-header-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  background-color: var(--light-purple);
  height: 100%;
}

.sidebar-nav{
  flex: 1;
  position: relative;
  z-index: 1;
}

.nav-inner{
  margin-right: 1rem;
  height: 100%;
  box-shadow: 0px 0px 10px -5px var(--dark-green);
}

.sidebar .page-list{
  background-color: var(--light-green);
}

.sidebar .page-list-item{
  border: 2px solid var(--dark-green);
  margin-bottom: .7rem;
  background: var(--lighter-green);
  padding-right: .7rem;
  right: -.7rem;
  border-radius: 3px 3px 0px 3px;
  white-space: nowrap;  
}

.sidebar .page-list-item:after{
  content: "";
  position: absolute;
  bottom: -12px; 
  right: -2px;
  border-style: solid;
  border-width: 10px 10px 0 0;
  border-color: var(--dark-green) transparent transparent transparent;
}

.sidebar .page-list-item:hover{
  background-color: var(--light-purple);
  border-color: var(--dark-purple);
}

.sidebar .page-list-item:hover:after{
  border-color: var(--dark-purple) transparent transparent transparent;
}
