.page{
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-areas:
    "header"
    "body"
  ;
  grid-template-columns: 1fr;
  grid-template-rows: var(--header-height) 1fr;
}  

.page > header{
  grid-area: header;
  border-bottom: 3px solid var(--dark-purple);
  display: flex;
  align-items: center;
}

.page-title{
  color: var(--dark-purple);
  margin: 0;
  padding: 0 2rem;
} 

.page-content{
  grid-area: body;
  display: grid;
  grid-template-areas: 
    "editor links"
  ;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 300px;
}

.page-editor{
  grid-area: editor;
  padding: 1rem 4rem;
}

.page-links{
  height: 100%;
  border-left: 3px solid var(--light-purple);
  grid-area: links;
}
