.pond-link{
  text-decoration: none;
  padding: .25rem .5rem;
  background-color: var(--dark-purple);
  color: white;
  border-radius: 3px;
  font-size: .8rem;
}

.page-title-container{
  display: flex;
  align-items: center;
}

.page-title{
  color: var(--dark-purple);
  margin: 0;
  padding: 0 2rem 0 0;
} 

.page-title-input{
  color: var(--dark-purple);
  font-size: 2rem;
  padding: 0rem;
  border-bottom: 1px solid var(--light-purple);
}

.page-content{
  grid-area: body;
  display: grid;
  grid-template-areas: 
    "editor links"
  ;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 300px;
}

.page-editor{
  grid-area: editor;
  padding: 1rem 4rem;
}

.page-links{
  height: 100%;
  border-left: 3px solid var(--light-purple);
  grid-area: links;
}

.page-content a[data-page-key]{
  background: var(--lighter-green);
  border-bottom: 1px solid var(--dark-purple);
  text-decoration: none;
}
